@{
    ViewBag.Title = "Home Page";
}

    <div id="filters" style="order:1;width: 127px;">
        <label >
            נגישות  <input id="accessibility-toggle" type="checkbox" data-toggle="toggle"> 
        </label>
        <label>
            כשרות  <input id="kosher-toggle" type="checkbox" data-toggle="toggle"> 
        </label>
    </div>
    <div id="side" style="width: 20%; height: 590px;order:2;">
        <input id="searchBox" type="search" class="form-control" placeholder="חיפוש">
            <div class="list-group" style="height: 590px; overflow: scroll;">
                @foreach (var item in ViewBag.restaurants)
                {
                    <a class="list-group-item" href="#" >
                        <span class="item-name">@item.Name</span>
                        <br>
                        <span style="font-size:10px">
                            @item.Location.Address
                        </span>
                        <span class="hidden-id" type="hidden"  value="@item.Location.LocationId"> </span>
                        <span class="hidden-kosher" type="hidden"  value="@item.Kosher"> </span>
                        <span class="hidden-accessibility" type="hidden"  value="@item.HandicapAccessibility.ToString()"> </span>
                    </a>
                }
            </div>
    </div>

    <div id="map" style="width: 70%; height: 613px;order:3;">
    </div>
    <input type="hidden" id="mapAddresses" data-value="@ViewBag.restaurantsData" />


@*<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhQ4O1dzFHh07ZDQa3k_ECAbO_LDXQZBA&callback=initMap">
</script>
<script src="~/Scripts/jquery-1.10.2.js">    // Do not delete</script>*@