<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodTracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"fef64bbc-c378-48b3-bcf3-ef84d9a871ec"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body style="display:flex; flex-direction:column;">
    
    <nav id="nav-header" style="justify-content:space-between;display:flex; flex-direction: row-reverse;align-items:center;background-color: #96C670;border-bottom: 1px inset #689831;">          
        <a href="@Url.Action(Url.Content("../"))" ><img style="height: 45px;" src="..\Images\logo_temp.PNG" /></a>

      @* Check if cards and location should be displayed *@
      @if (!((RazorView)Html.ViewContext.View).ViewPath.Contains("Account") &&
           !((RazorView)Html.ViewContext.View).ViewPath.Contains("Manage"))
      {
        <div class="btn-group" role="group">
            <button style="display:inline-block;border-radius: 25px;" id="clear-location-filter" type="button" class="btn btn-default">X</button>

            <div class="dropdown" style="display:inline-block;">
                <button id="address-btn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">כתובת</button>
                <ul class="dropdown-menu" style="padding: 5px;">
                    <li style="margin-bottom: 0;">
                        <input id="location-address-filter" type="text" />
                    </li>
                </ul>
            </div>
            <button style="display:inline-block;border-bottom-left-radius: 5px;border-top-left-radius: 5px;" id="currentlocation-filter" type="button" class="btn btn-default">מיקום נוכחי</button>

        </div>      

        <div class="dropdown" style="display:inline-block;width: 118px;">
            <button class="btn btn-default dropdown-toggle selectedCard" type="button" data-toggle="dropdown">
                <img id="selectedCard" class="selectedCardImage" @*src="~/Images/hever.jpg"*@ /> 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                 
                <li><a href=@Url.Action("Index", "Home")><img id="hever" class="image_cards" src="~/Images/hever.jpg"/></a></li>
                <li><a href=@Url.Action("Leumi", "Home")><img id="leumi" class="image_cards" src="~/Images/laumi.jpg" /></a></li>
                <li><a href=@Url.Action("American", "Home")><img id="american"class="image_cards" src="~/Images/american.png"/></a></li>
                <li><a href=@Url.Action("Groupon", "Home")><img id="groupon" class="image_cards" src="~/Images/groupon.png"/></a></li>
            </ul>
        </div>
      }
        @Html.Partial("_LoginPartial")
    </nav>
    
    <div style="height:100%;">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    
   
</body>
</html>
